---
const stack = [
    'JavaScript', 'TypeScript', 'React', 'Angular', 'Vue', 'Astro',
    'HTML', 'CSS', 'SQL', 'Spring Boot'
]
---


<ul class="skill-list">
    {stack.map(tech => <li>{tech}</li>)}
</ul>